.vscode/

.qawno/documentation
.qawno/platforms
.qawno/upgrader
.qawno/blank.new
.qawno/filterscript.new
.qawno/gamemode.new
.qawno/include.new
.qawno/includes-license.md
.qawno/includes-readme.md
.qawno/pawnc.dll
.qawno/pawncc.exe
.qawno/pawndoc.xsl
.qawno/qawno.exe
.qawno/qawno-license.txt
.qawno/qawno-readme.md
.qawno/Qt5Core.dll
.qawno/Qt5Gui.dll
.qawno/Qt5Widgets.dll

omp-server.exe